body {
  background-color: #f5f5dc;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-overlay {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 110%;
  height: 110%;
  position: relative;
}

.landing-text {
  font-size: 3rem;
  margin-bottom: 5px;
  color: #ffffff;
}

.logo {
  width: 20px;
  height: auto;
  margin-bottom: 20px;
}

.order-button {
  width: 200px;
  height: 80px;
  background-color: #d32f2f;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border: #333;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
  z-index: 2;
}

.order-button:hover {
  background-color: #c32525;
}

.dropdown {
  position: relative;
  z-index: 2;
}

.dropdown-button {
  width: 180px;
  height: 50px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-button:hover {
  background-color: #222;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  width: 180px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dropdown-item {
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #d3d3d3;
}

.language {
  margin-top: 20px;
}