.combo-container {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    align-items: center;
}

.combo-image {
    width: 255px;
    height: 255px;
}

.comboButton {
    width: 320px;
    height: 320px;
    border-radius: 320px;
    margin: 20px;
}

.comboButtom img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
}

.combo-header {
    margin-left: 100px;
}